# Pandas Data Frame

Pandas package implements functionalities like data frames in R. There are many similarities but also differences. We will go over some differences in the context of working with the basketball data.

Obtaining data from NBA can be done using the function developed previously.

In [1]:
import pandas as pd

def get_nba_data(endpt, params, return_url=False):

    ## endpt: https://github.com/seemethere/nba_py/wiki/stats.nba.com-Endpoint-Documentation
    ## params: dictionary of parameters: i.e., {'LeagueID':'00'}
    
    from pandas import DataFrame
    from urllib.parse import urlencode
    import json
    
    useragent = "\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9\""
    dataurl = "\"" + "http://stats.nba.com/stats/" + endpt + "?" + urlencode(params) + "\""
    
    # for debugging: just return the url
    if return_url:
        return(dataurl)
    
    jsonstr = !wget -q -O - --user-agent={useragent} {dataurl}
    
    data = json.loads(jsonstr[0])
    
    h = data['resultSets'][0]['headers']
    d = data['resultSets'][0]['rowSet']
    
    return(DataFrame(d, columns=h))

Using the function, we can get data about teams and players

In [2]:
## get all teams
params = {'LeagueID':'00'}
teams = get_nba_data('commonTeamYears', params)

## get all players
params = {'LeagueID':'00', 'Season': '2016-17', 'IsOnlyCurrentSeason': '0'}
players = get_nba_data('commonallplayers', params)

## Programming style

Programming language is really like a language, and you will get better with practice. It is good to think about good programming style and better way to do the same thing. By better, I mean more readable, concise, efficient (computationally), etc.

For example, there are guides and articles such as these:
- http://docs.python-guide.org/en/latest/writing/style/#short-ways-to-manipulate-lists
- https://google.github.io/styleguide/pyguide.html?showone=List_Comprehensions#List_Comprehensions
- https://google.github.io/styleguide/pyguide.html?showone=Naming#Naming
- https://www.python.org/dev/peps/pep-0008/

In [3]:
# import this

Above easter egg is from Zen of Python: https://www.python.org/dev/peps/pep-0020/. 

- https://www.quora.com/What-do-different-aphorisms-in-The-Zen-of-Python-mean 
- 20th aphorism?:https://www.reddit.com/r/Python/comments/3cjhlo/this_disobeys_the_zen_of_python/

# Pandas

Pandas has an extensive set of functions. Refer to [Chapter 3 in PDSH](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html) and the [official website](https://pandas.pydata.org). Latest stable release documentation is here: [http://pandas.pydata.org/pandas-docs/stable/api.html](http://pandas.pydata.org/pandas-docs/stable/api.html).

## Pandas Series 

The section on `Series` is here: http://pandas.pydata.org/pandas-docs/stable/api.html#series. These are available by placing a dot after the object.

### Data frames are made of Series
Pandas data frames are different objects:

In [4]:
print("data frame object :", type(teams))
print("data row object   :", type(teams.iloc[0]))
print("data column object:", type(teams.ABBREVIATION))

data frame object : <class 'pandas.core.frame.DataFrame'>
data row object   : <class 'pandas.core.series.Series'>
data column object: <class 'pandas.core.series.Series'>

Note that rows as well as columns of pandas data frame are `Series` objects. (In R, rows would be a smaller data frame.)

There are categories of functions that are applicable to certain object types:

- Pandas general functions: http://pandas.pydata.org/pandas-docs/stable/api.html#general-functions   
    e.g., [`pandas.melt()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html#pandas-melt) take `DataFrame` as input. 
- Series methods: http://pandas.pydata.org/pandas-docs/stable/api.html#series
- DataFrame methods: http://pandas.pydata.org/pandas-docs/stable/api.html#dataframe

### Pandas (often) shows you views

Recall that python objects are often _views_ of the same instance in memory space. Following says these are the same objects in memory:

In [5]:
temp = teams
print(id(temp) == id(teams))

True

So, if you change one, you see the change in the other:

In [6]:
s1 = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
s2 = s1
print("id of s1:", id(s1))
print("id of s2:", id(s2))
print("s1 is s2:", s1 is s2)

id of s1: 140354683814072
id of s2: 140354683814072
s1 is s2: True

In [7]:
s1[0] = 10000

print("s1 changed:", s1[0])
print("s2 also   :", s2[0])
#print("s1 is s2:", s1[0] is s2[0])

s1 changed: 10000.0
s2 also   : 10000.0

Needs to be copied in order to make an independent variable.

In [8]:
abbr = teams.ABBREVIATION.copy()
abbr is teams.ABBREVIATION

False

### Indexing

There are many different ways to index `Series` and `DataFrames` in pandas: https://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing.

- `.loc` is primarily for using labels and booleans: e.g., column and row indices, comparison operators, etc
- `.iloc` is primarily for using integer positions: i.e., like you would matrices

In [9]:
abbr

0      ATL
1      BOS
2      CLE
3      NOP
4      CHI
5      DAL
6      DEN
7      GSW
8      HOU
9      LAC
10     LAL
11     MIA
12     MIL
13     MIN
14     BKN
15     NYK
16     ORL
17     IND
18     PHI
19     PHX
20     POR
21     SAC
22     SAS
23     OKC
24     TOR
25     UTA
26     MEM
27     WAS
28     DET
29     CHA
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
43    None
44    None
Name: ABBREVIATION, dtype: object

In [10]:
dict(abbr.head().items())

{0: 'ATL', 1: 'BOS', 2: 'CLE', 3: 'NOP', 4: 'CHI'}

### Series as lists

In [11]:
list(abbr.head().items())

[(0, 'ATL'), (1, 'BOS'), (2, 'CLE'), (3, 'NOP'), (4, 'CHI')]

In [12]:
abbr.keys()

RangeIndex(start=0, stop=45, step=1)

There are many more useful functions and properties. Refer to [Chapter 3 in PDSH](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html). Latest stable release documentation is here: [http://pandas.pydata.org/pandas-docs/stable/api.html](http://pandas.pydata.org/pandas-docs/stable/api.html).

The section on `Series` is here: http://pandas.pydata.org/pandas-docs/stable/api.html#series. These are available by placing a dot after the object.

In [13]:
abbr.unique()

array(['ATL', 'BOS', 'CLE', 'NOP', 'CHI', 'DAL', 'DEN', 'GSW', 'HOU',
       'LAC', 'LAL', 'MIA', 'MIL', 'MIN', 'BKN', 'NYK', 'ORL', 'IND',
       'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'OKC', 'TOR', 'UTA', 'MEM',
       'WAS', 'DET', 'CHA', None], dtype=object)

A convenient method function is [`str`](http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling). This allows functions to be applied to each value as strings separately. For example, we can search for patterns. For example, we can search for teams that end with letter `S`:

In [14]:
abbr.str.contains('S$')

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22     True
23    False
24    False
25    False
26    False
27     True
28    False
29    False
30     None
31     None
32     None
33     None
34     None
35     None
36     None
37     None
38     None
39     None
40     None
41     None
42     None
43     None
44     None
Name: ABBREVIATION, dtype: object

__Exercise__: how would you use this to pick out team names that end with S? Can you use the resulting boolean `Series`?

In [15]:
## abbr.loc[abbr.str.contains('S$')] ## what is the problem?

__Exercise__: what is `dir()` function?

In [16]:
## dir(abbr)

## Data Frames

### Getting columns

Following ways to call columns are equivalent. The *dot notation* is easier to read.

In [17]:
temp = teams.copy()

print(temp['MIN_YEAR'].head())
print(temp.MIN_YEAR.head())

0    1949
1    1946
2    1970
3    2002
4    1966
Name: MIN_YEAR, dtype: object
0    1949
1    1946
2    1970
3    2002
4    1966
Name: MIN_YEAR, dtype: object

### Setting columns

Note that you cannot set a new column with a dot notation. Consider the following:

In [18]:
temp['new_column_1'] = temp.MAX_YEAR
temp.new_column_2 = temp.MAX_YEAR
temp.head()

  LEAGUE_ID     TEAM_ID MIN_YEAR MAX_YEAR ABBREVIATION new_column_1
0        00  1610612737     1949     2017          ATL         2017
1        00  1610612738     1946     2017          BOS         2017
2        00  1610612739     1970     2017          CLE         2017
3        00  1610612740     2002     2017          NOP         2017
4        00  1610612741     1966     2017          CHI         2017

However, you can set an existing column with dot notation.

In [19]:
temp.LEAGUE_ID = 'ZZ'
temp.head()

  LEAGUE_ID     TEAM_ID MIN_YEAR MAX_YEAR ABBREVIATION new_column_1
0        ZZ  1610612737     1949     2017          ATL         2017
1        ZZ  1610612738     1946     2017          BOS         2017
2        ZZ  1610612739     1970     2017          CLE         2017
3        ZZ  1610612740     2002     2017          NOP         2017
4        ZZ  1610612741     1966     2017          CHI         2017

### Data Frame, Series, dtype

This is different than R data frame in that columns in R data frames have their data types: e.g., `factor`, `integer`, `numeric`, etc. Pandas data frame columns are *all* `Series` with different dtypes. With column types not specified, everything is of dtype `object`:

In [20]:
print(teams.ABBREVIATION.dtype)

object

In [21]:
teams.ABBREVIATION = teams.ABBREVIATION.astype('category')
teams.TEAM_ID      = teams.TEAM_ID.astype('category')
teams.MIN_YEAR     = teams.MIN_YEAR.astype('int')
teams.MAX_YEAR     = teams.MAX_YEAR.astype('int')

Note that `object` is a general term

In [22]:
print(type(teams.iloc[0]))
print(teams.iloc[0])

<class 'pandas.core.series.Series'>
LEAGUE_ID               00
TEAM_ID         1610612737
MIN_YEAR              1949
MAX_YEAR              2017
ABBREVIATION           ATL
Name: 0, dtype: object

### Condition based slicing

Subset just the current teams

In [23]:
teams = teams[teams.MAX_YEAR == 2017]
teams['TEAM_AGE'] = teams.MAX_YEAR - teams.MIN_YEAR

teams_clean = teams.copy() ## make a copy for later
teams

   LEAGUE_ID     TEAM_ID  MIN_YEAR  MAX_YEAR ABBREVIATION  TEAM_AGE
0         00  1610612737      1949      2017          ATL        68
1         00  1610612738      1946      2017          BOS        71
2         00  1610612739      1970      2017          CLE        47
3         00  1610612740      2002      2017          NOP        15
4         00  1610612741      1966      2017          CHI        51
5         00  1610612742      1980      2017          DAL        37
6         00  1610612743      1976      2017          DEN        41
7         00  1610612744      1946      2017          GSW        71
8         00  1610612745      1967      2017          HOU        50
9         00  1610612746      1970      2017          LAC        47
10        00  1610612747      1948      2017          LAL        69
11        00  1610612748      1988      2017          MIA        29
12        00  1610612749      1968      2017          MIL        49
13        00  1610612750      1989      2017          MIN        28
14        00  1610612751      1976      2017          BKN        41
15        00  1610612752      1946      2017          NYK        71
16        00  1610612753      1989      2017          ORL        28
17        00  1610612754      1976      2017          IND        41
18        00  1610612755      1949      2017          PHI        68
19        00  1610612756      1968      2017          PHX        49
20        00  1610612757      1970      2017          POR        47
21        00  1610612758      1948      2017          SAC        69
22        00  1610612759      1976      2017          SAS        41
23        00  1610612760      1967      2017          OKC        50
24        00  1610612761      1995      2017          TOR        22
25        00  1610612762      1974      2017          UTA        43
26        00  1610612763      1995      2017          MEM        22
27        00  1610612764      1961      2017          WAS        56
28        00  1610612765      1948      2017          DET        69
29        00  1610612766      1988      2017          CHA        29

Note the following indexing

In [24]:
print('*** indexing with .iloc:\n', teams.iloc[1])
print('\n*** indexing with .loc :\n', teams.loc[14])

*** indexing with .iloc:
 LEAGUE_ID               00
TEAM_ID         1610612738
MIN_YEAR              1946
MAX_YEAR              2017
ABBREVIATION           BOS
TEAM_AGE                71
Name: 1, dtype: object

*** indexing with .loc :
 LEAGUE_ID               00
TEAM_ID         1610612751
MIN_YEAR              1976
MAX_YEAR              2017
ABBREVIATION           BKN
TEAM_AGE                41
Name: 14, dtype: object

Subset just the players in current teams:

In [25]:
players = players[players.TEAM_ID.isin(teams.TEAM_ID)]
players.tail()

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG
4266,203469,"Zeller, Cody",Cody Zeller,1,2013,2017,cody_zeller,1610612766,Charlotte,Hornets,CHA,hornets,Y
4271,203092,"Zeller, Tyler",Tyler Zeller,1,2012,2017,tyler_zeller,1610612738,Boston,Celtics,BOS,celtics,Y
4277,1627757,"Zimmerman, Stephen",Stephen Zimmerman,1,2016,2016,stephen_zimmerman,1610612753,Orlando,Magic,ORL,magic,Y
4278,1627835,"Zipser, Paul",Paul Zipser,1,2016,2017,paul_zipser,1610612741,Chicago,Bulls,CHI,bulls,Y
4282,1627826,"Zubac, Ivica",Ivica Zubac,1,2016,2017,ivica_zubac,1610612747,Los Angeles,Lakers,LAL,lakers,Y

List players groupped by teams:

In [26]:
players.groupby('TEAM_CODE')

Above is called an iterable. You can iterate on the object to see the _views_.

In [27]:
for t, p in players.groupby('TEAM_NAME'):
    print("***", t)
    print('; '.join(p.DISPLAY_LAST_COMMA_FIRST.values), '\n')

*** 76ers
Anderson, Justin; Bayless, Jerryd; Covington, Robert; Embiid, Joel; Henderson, Gerald; Holmes, Richaun; Long, Shawn; Luwawu-Cabarrot, Timothe; McConnell, T.J.; Okafor, Jahlil; Poythress, Alex; Rodriguez, Sergio; Saric, Dario; Simmons, Ben; Splitter, Tiago; Stauskas, Nik

*** Bucks
Antetokounmpo, Giannis; Beasley, Michael; Brogdon, Malcolm; Dellavedova, Matthew; Hawes, Spencer; Henson, John; Maker, Thon; Middleton, Khris; Monroe, Greg; Parker, Jabari; Payton II, Gary; Snell, Tony; Teletovic, Mirza; Terry, Jason; Vaughn, Rashad

*** Bulls
Butler, Jimmy; Canaan, Isaiah; Carter-Williams, Michael; Felicio, Cristiano; Grant, Jerian; Lauvergne, Joffrey; Lopez, Robin; Mirotic, Nikola; Morrow, Anthony; Payne, Cameron; Portis, Bobby; Rondo, Rajon; Valentine, Denzel; Wade, Dwyane; Zipser, Paul

*** Cavaliers
Felder, Kay; Frye, Channing; Irving, Kyrie; James, LeBron; Jefferson, Richard; Jones, Dahntay; Jones, James; Korver, Kyle; Love, Kevin; Shumpert, Iman; Smith, JR; Tavares, Edy; Thompson, Tristan; Williams, Deron; Williams, Derrick

*** Celtics
Bradley, Avery; Brown, Jaylen; Crowder, Jae; Green, Gerald; Horford, Al; Jackson, Demetrius; Jerebko, Jonas; Johnson, Amir; Mickey, Jordan; Olynyk, Kelly; Rozier, Terry; Smart, Marcus; Thomas, Isaiah; Young, James; Zeller, Tyler

*** Clippers
Anderson, Alan; Bass, Brandon; Crawford, Jamal; Felton, Raymond; Griffin, Blake; Johnson, Brice; Johnson, Wesley; Jordan, DeAndre; Mbah a Moute, Luc; Paul, Chris; Pierce, Paul; Redick, JJ; Rivers, Austin; Speights, Marreese; Stone, Diamond

*** Grizzlies
Allen, Tony; Baldwin IV, Wade; Carter, Vince; Conley, Mike; Daniels, Troy; Davis, Deyonta; Ennis III, James; Gasol, Marc; Green, JaMychal; Harrison, Andrew; Martin, Jarell; Parsons, Chandler; Randolph, Zach; Selden, Wayne; Wright, Brandan

*** Hawks
Bazemore, Kent; Bembry, DeAndre'; Calderon, Jose; Delaney, Malcolm; Dunleavy, Mike; Hardaway Jr., Tim; Howard, Dwight; Humphries, Kris; Ilyasova, Ersan; Kelly, Ryan; Millsap, Paul; Muscala, Mike; Prince, Taurean; Schroder, Dennis; Sefolosha, Thabo

*** Heat
Babbitt, Luke; Bosh, Chris; Dragic, Goran; Ellington, Wayne; Haslem, Udonis; Johnson, James; Johnson, Tyler; McGruder, Rodney; McRoberts, Josh; Reed, Willie; Richardson, Josh; Waiters, Dion; White, Okaro; Whiteside, Hassan; Winslow, Justise

*** Hornets
Batum, Nicolas; Belinelli, Marco; Graham, Treveon; Kaminsky, Frank; Kidd-Gilchrist, Michael; Lamb, Jeremy; O'Bryant III, Johnny; Plumlee, Miles; Roberts, Brian; Sessions, Ramon; Walker, Kemba; Weber, Briante; Williams, Marvin; Wood, Christian; Zeller, Cody

*** Jazz
Bolomboy, Joel; Burks, Alec; Diaw, Boris; Exum, Dante; Favors, Derrick; Gobert, Rudy; Hayward, Gordon; Hill, George; Hood, Rodney; Ingles, Joe; Johnson, Joe; Lyles, Trey; Mack, Shelvin; Neto, Raul; Withey, Jeff

*** Kings
Afflalo, Arron; Cauley-Stein, Willie; Collison, Darren; Evans, Tyreke; Galloway, Langston; Gay, Rudy; Hield, Buddy; Koufos, Kosta; Labissiere, Skal; Lawson, Ty; McLemore, Ben; Papagiannis, Georgios; Richardson, Malachi; Temple, Garrett

*** Knicks
Anthony, Carmelo; Baker, Ron; Hernangomez, Willy; Holiday, Justin; Kuzminskas, Mindaugas; Lee, Courtney; Ndour, Maurice; Noah, Joakim; O'Quinn, Kyle; Plumlee, Marshall; Porzingis, Kristaps; Randle, Chasson; Rose, Derrick; Thomas, Lance; Vujacic, Sasha

*** Lakers
Black, Tarik; Brewer, Corey; Clarkson, Jordan; Deng, Luol; Ennis, Tyler; Ingram, Brandon; Mozgov, Timofey; Nance Jr., Larry; Nwaba, David; Randle, Julius; Robinson, Thomas; Russell, D'Angelo; World Peace, Metta; Young, Nick; Zubac, Ivica

*** Magic
Augustin, D.J.; Biyombo, Bismack; Fournier, Evan; Garino, Patricio; Georges-Hunt, Marcus; Gordon, Aaron; Green, Jeff; Hezonja, Mario; Meeks, Jodie; Payton, Elfrid; Ross, Terrence; Rudez, Damjan; Vucevic, Nikola; Watson, C.J.; Zimmerman, Stephen

*** Mavericks
Barea, J.J.; Barnes, Harrison; Brussino, Nicolas; Curry, Seth; Ferrell, Yogi; Finney-Smith, Dorian; Hammons, AJ; Harris, Devin; Harris, Manny; Liggins, DeAndre; Matthews, Wesley; Mejri, Salah; Noel, Nerlens; Nowitzki, Dirk; Powell, Dwight; Uthoff, Jarrod

*** Nets
Acy, Quincy; Booker, Trevor; Dinwiddie, Spencer; Foye, Randy; Goodwin, Archie; Hamilton, Justin; Harris, Joe; Hollis-Jefferson, Rondae; Kilpatrick, Sean; LeVert, Caris; Lin, Jeremy; Lopez, Brook; McDaniels, KJ; Nicholson, Andrew; Whitehead, Isaiah

*** Nuggets
Arthur, Darrell; Barton, Will; Beasley, Malik; Chandler, Wilson; Faried, Kenneth; Gallinari, Danilo; Harris, Gary; Hernangomez, Juancho; Hibbert, Roy; Jokic, Nikola; Miller, Mike; Mudiay, Emmanuel; Murray, Jamal; Nelson, Jameer; Plumlee, Mason

*** Pacers
Allen, Lavoy; Brooks, Aaron; Christmas, Rakeem; Ellis, Monta; George, Paul; Jefferson, Al; Miles, CJ; Niang, Georges; Robinson III, Glenn; Seraphin, Kevin; Stephenson, Lance; Teague, Jeff; Turner, Myles; Young, Joe; Young, Thaddeus

*** Pelicans
Ajinca, Alexis; Asik, Omer; Cook, Quinn; Cousins, DeMarcus; Crawford, Jordan; Cunningham, Dante; Davis, Anthony; Diallo, Cheick; Frazier, Tim; Hill, Solomon; Holiday, Jrue; Moore, E'Twaun; Motiejunas, Donatas; Pondexter, Quincy; Toupane, Axel

*** Pistons
Baynes, Aron; Bullock, Reggie; Caldwell-Pope, Kentavious; Drummond, Andre; Ellenson, Henry; Gbinije, Michael; Harris, Tobias; Hilliard, Darrun; Jackson, Reggie; Johnson, Stanley; Leuer, Jon; Marjanovic, Boban; Morris, Marcus; Smith, Ish; Udrih, Beno

*** Raptors
Caboclo, Bruno; Carroll, DeMarre; DeRozan, DeMar; Ibaka, Serge; Joseph, Cory; Lowry, Kyle; Nogueira, Lucas; Patterson, Patrick; Poeltl, Jakob; Powell, Norman; Siakam, Pascal; Tucker, PJ; Valanciunas, Jonas; VanVleet, Fred; Wright, Delon

*** Rockets
Anderson, Ryan; Ariza, Trevor; Beverley, Patrick; Brown, Bobby; Capela, Clint; Dekker, Sam; Gordon, Eric; Harden, James; Harrell, Montrezl; Nene; Onuaku, Chinanu; Taylor, Isaiah; Williams, Lou; Williams, Troy; Wiltjer, Kyle

*** Spurs
Aldridge, LaMarcus; Anderson, Kyle; Anthony, Joel; Bertans, Davis; Dedmon, Dewayne; Forbes, Bryn; Gasol, Pau; Ginobili, Manu; Green, Danny; Lee, David; Leonard, Kawhi; Mills, Patty; Murray, Dejounte; Parker, Tony; Simmons, Jonathon

*** Suns
Barbosa, Leandro; Bender, Dragan; Bledsoe, Eric; Booker, Devin; Chandler, Tyson; Chriss, Marquese; Dudley, Jared; Jones Jr., Derrick; Knight, Brandon; Len, Alex; Millsap, Elijah; Price, Ronnie; Ulis, Tyler; Warren, TJ; Williams, Alan

*** Thunder
Abrines, Alex; Adams, Steven; Christon, Semaj; Cole, Norris; Collison, Nick; Gibson, Taj; Grant, Jerami; Huestis, Josh; Kanter, Enes; McDermott, Doug; Oladipo, Victor; Roberson, Andre; Sabonis, Domantas; Singler, Kyle; Westbrook, Russell

*** Timberwolves
Aldrich, Cole; Bjelica, Nemanja; Casspi, Omri; Dieng, Gorgui; Dunn, Kris; Hill, Jordan; Jones, Tyus; LaVine, Zach; Muhammad, Shabazz; Payne, Adreian; Pekovic, Nikola; Rubio, Ricky; Rush, Brandon; Towns, Karl-Anthony; Wiggins, Andrew

*** Trail Blazers
Aminu, Al-Farouq; Connaughton, Pat; Crabbe, Allen; Davis, Ed; Ezeli, Festus; Harkless, Maurice; Layman, Jake; Leonard, Meyers; Lillard, Damian; McCollum, CJ; Napier, Shabazz; Nurkic, Jusuf; Quarterman, Tim; Turner, Evan; Vonleh, Noah

*** Warriors
Barnes, Matt; Clark, Ian; Curry, Stephen; Durant, Kevin; Green, Draymond; Iguodala, Andre; Jones, Damian; Livingston, Shaun; Looney, Kevon; McAdoo, James Michael; McCaw, Patrick; McGee, JaVale; Pachulia, Zaza; Thompson, Klay; West, David

*** Wizards
Beal, Bradley; Bogdanovic, Bojan; Burke, Trey; Gortat, Marcin; Jennings, Brandon; Mac, Sheldon; Mahinmi, Ian; McCullough, Chris; Morris, Markieff; Ochefu, Daniel; Oubre Jr., Kelly; Porter Jr., Otto; Satoransky, Tomas; Smith, Jason; Wall, John

### Merging data frames

First we can create a table of unique rows with full team names

In [28]:
team_names = players[['TEAM_ABBREVIATION', 'TEAM_CODE']].drop_duplicates()#.set_index('TEAM_ABBREVIATION')
team_names.head()

   TEAM_ABBREVIATION     TEAM_CODE
9                OKC       thunder
14               BKN          nets
25               SAC         kings
30               NOP      pelicans
37               MIN  timberwolves

We have team codes (names) as a new column.

In [29]:
teams_clean.head()

  LEAGUE_ID     TEAM_ID  MIN_YEAR  MAX_YEAR ABBREVIATION  TEAM_AGE
0        00  1610612737      1949      2017          ATL        68
1        00  1610612738      1946      2017          BOS        71
2        00  1610612739      1970      2017          CLE        47
3        00  1610612740      2002      2017          NOP        15
4        00  1610612741      1966      2017          CHI        51

In [30]:
teams = pd.merge(teams_clean, team_names, left_on='ABBREVIATION', right_on='TEAM_ABBREVIATION')
teams.tail()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,TEAM_AGE,TEAM_ABBREVIATION,TEAM_CODE
25,00,1610612762,1974,2017,UTA,43,UTA,jazz
26,00,1610612763,1995,2017,MEM,22,MEM,grizzlies
27,00,1610612764,1961,2017,WAS,56,WAS,wizards
28,00,1610612765,1948,2017,DET,69,DET,pistons
29,00,1610612766,1988,2017,CHA,29,CHA,hornets

We can apply `str` method:

In [31]:
teams.TEAM_CODE = teams.TEAM_CODE.str.capitalize() # returns values so needs to be reassigned
teams.sort_values('ABBREVIATION', inplace=True)    # modifies object
teams.tail()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,TEAM_AGE,TEAM_ABBREVIATION,TEAM_CODE
21,00,1610612758,1948,2017,SAC,69,SAC,Kings
22,00,1610612759,1976,2017,SAS,41,SAS,Spurs
24,00,1610612761,1995,2017,TOR,22,TOR,Raptors
25,00,1610612762,1974,2017,UTA,43,UTA,Jazz
27,00,1610612764,1961,2017,WAS,56,WAS,Wizards

In [32]:
players.head()

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG
9,203518,"Abrines, Alex",Alex Abrines,1,2016,2017,alex_abrines,1610612760,Oklahoma City,Thunder,OKC,thunder,Y
14,203112,"Acy, Quincy",Quincy Acy,1,2012,2017,quincy_acy,1610612751,Brooklyn,Nets,BKN,nets,Y
20,203500,"Adams, Steven",Steven Adams,1,2013,2017,steven_adams,1610612760,Oklahoma City,Thunder,OKC,thunder,Y
25,201167,"Afflalo, Arron",Arron Afflalo,1,2007,2017,arron_afflalo,1610612758,Sacramento,Kings,SAC,kings,Y
30,201582,"Ajinca, Alexis",Alexis Ajinca,1,2008,2017,alexis_ajinca,1610612740,New Orleans,Pelicans,NOP,pelicans,Y

## Interaction with Widgets

One of the advantages of Jupyter notebooks is that it is browser-based. Browsers are highly interactive, and we can also interact with the data by using interactive widgets IPython provides.

We will digress a little bit, and talk about widgets. Widgets take user input by waiting for some action. We can create a simple slider to select some number:

In [33]:
from ipywidgets import interact, FloatSlider, Dropdown, Button

def selected_val(x):
    print('Selected value is', x)

xslider = FloatSlider(min=0.0, max=10.0, step=0.05)
interact(selected_val, x=xslider);

interactive(children=(FloatSlider(value=0.0, description='x', max=10.0, step=0.05), Output()), _dom_classes=('widget-interact',))

In [34]:
def f(x, y):
    print(x, y)
    
drop1 = {'Galileo': 10, 'Brahe': 11, 'Hubble': 12}
drop2 = {'Apple': 345, 'Orange': 234, 'Banana': 123}

interact(f, x=drop1, y=drop2);

interactive(children=(Dropdown(description='x', options={'Galileo': 10, 'Brahe': 11, 'Hubble': 12}, value=10), Dropdown(description='y', options={'Apple': 345, 'Orange': 234, 'Banana': 123}, value=345), Output()), _dom_classes=('widget-interact',))

In [35]:
menu = {
    'juice':['apple', 'peach', 'grape'],
    'tea':['ginger', 'green', 'earl grey'],
}

selected = 'tea'

flavor = Dropdown(options=menu[selected], value=menu[selected][0])
drink = Dropdown(options=menu.keys(), value=selected)
order = Button(description='Order!', icon='check')

def update_drink(change):
    flavor.options = menu[change['new']]
    flavor.selected = menu[change['new']][0]
    
def make_order(change):
    print(flavor.value, drink.value)
    
drink.observe(update_drink, names='value')
order.on_click(make_order)
 
display(flavor, drink, order)

Dropdown(options=('ginger', 'green', 'earl grey'), value='ginger')

Dropdown(index=1, options=('juice', 'tea'), value='tea')

Button(description='Order!', icon='check', style=ButtonStyle())

__Exercise__: Can you add a widget for selecting the size? Size is independent of flavors; however, it should be included when the order is made. Allow for sizes small, regular, and large.

Note that `drop1` and `drop2` are used to fill in the dropdown menus with dictionary keys, but returns the value associated with a selected key. We will need to use this approach for basketball data.

The format we need is as follows:
- Teams dictionary:   
    ```
    teams_menu = {
        'team1': [teamid1],
        'team2': [teamid2],
        ...,
        }
    ```
- Players dictionary of dictionaries:   
    ```
    plyrs_menu = {
        [teamid1]:{
            'player1': [playerid1],
            'player2': [playerid2],
            ...,
            },
        [teamid2]:{
            'player12': [playerid12],
            'player13': [playerid13],
            ...,
            }
        }
    ```

Then we can create a function like `make_order()` above to return two ids. These can be used to modify the `param` argument before calling `get_nba_data()` to retrieve data.

In [36]:
team_dd_text = teams.TEAM_ABBREVIATION+', '+teams.TEAM_CODE
team_dd = dict(zip(team_dd_text, teams.TEAM_ID))
team_dd

{'ATL, Hawks': 1610612737,
 'BKN, Nets': 1610612751,
 'BOS, Celtics': 1610612738,
 'CHA, Hornets': 1610612766,
 'CHI, Bulls': 1610612741,
 'CLE, Cavaliers': 1610612739,
 'DAL, Mavericks': 1610612742,
 'DEN, Nuggets': 1610612743,
 'DET, Pistons': 1610612765,
 'GSW, Warriors': 1610612744,
 'HOU, Rockets': 1610612745,
 'IND, Pacers': 1610612754,
 'LAC, Clippers': 1610612746,
 'LAL, Lakers': 1610612747,
 'MEM, Grizzlies': 1610612763,
 'MIA, Heat': 1610612748,
 'MIL, Bucks': 1610612749,
 'MIN, Timberwolves': 1610612750,
 'NOP, Pelicans': 1610612740,
 'NYK, Knicks': 1610612752,
 'OKC, Thunder': 1610612760,
 'ORL, Magic': 1610612753,
 'PHI, Sixers': 1610612755,
 'PHX, Suns': 1610612756,
 'POR, Blazers': 1610612757,
 'SAC, Kings': 1610612758,
 'SAS, Spurs': 1610612759,
 'TOR, Raptors': 1610612761,
 'UTA, Jazz': 1610612762,
 'WAS, Wizards': 1610612764}

In [37]:
plyr_by_team_dd = dict()

for t, p in players.groupby('TEAM_ID'):
    
    plyr_by_team_dd[t] = dict(zip(p.DISPLAY_LAST_COMMA_FIRST, p.PERSON_ID))

plyr_by_team_dd

{1610612737: {'Bazemore, Kent': 203145,
  "Bembry, DeAndre'": 1627761,
  'Calderon, Jose': 101181,
  'Delaney, Malcolm': 1627098,
  'Dunleavy, Mike': 2399,
  'Hardaway Jr., Tim': 203501,
  'Howard, Dwight': 2730,
  'Humphries, Kris': 2743,
  'Ilyasova, Ersan': 101141,
  'Kelly, Ryan': 203527,
  'Millsap, Paul': 200794,
  'Muscala, Mike': 203488,
  'Prince, Taurean': 1627752,
  'Schroder, Dennis': 203471,
  'Sefolosha, Thabo': 200757},
 1610612738: {'Bradley, Avery': 202340,
  'Brown, Jaylen': 1627759,
  'Crowder, Jae': 203109,
  'Green, Gerald': 101123,
  'Horford, Al': 201143,
  'Jackson, Demetrius': 1627743,
  'Jerebko, Jonas': 201973,
  'Johnson, Amir': 101161,
  'Mickey, Jordan': 1626175,
  'Olynyk, Kelly': 203482,
  'Rozier, Terry': 1626179,
  'Smart, Marcus': 203935,
  'Thomas, Isaiah': 202738,
  'Young, James': 203923,
  'Zeller, Tyler': 203092},
 1610612739: {'Felder, Kay': 1627770,
  'Frye, Channing': 101112,
  'Irving, Kyrie': 202681,
  'James, LeBron': 2544,
  'Jefferson, Richard': 2210,
  'Jones, Dahntay': 2563,
  'Jones, James': 2592,
  'Korver, Kyle': 2594,
  'Love, Kevin': 201567,
  'Shumpert, Iman': 202697,
  'Smith, JR': 2747,
  'Tavares, Edy': 204002,
  'Thompson, Tristan': 202684,
  'Williams, Deron': 101114,
  'Williams, Derrick': 202682},
 1610612740: {'Ajinca, Alexis': 201582,
  'Asik, Omer': 201600,
  'Cook, Quinn': 1626188,
  'Cousins, DeMarcus': 202326,
  'Crawford, Jordan': 202348,
  'Cunningham, Dante': 201967,
  'Davis, Anthony': 203076,
  'Diallo, Cheick': 1627767,
  'Frazier, Tim': 204025,
  'Hill, Solomon': 203524,
  'Holiday, Jrue': 201950,
  "Moore, E'Twaun": 202734,
  'Motiejunas, Donatas': 202700,
  'Pondexter, Quincy': 202347,
  'Toupane, Axel': 1626253},
 1610612741: {'Butler, Jimmy': 202710,
  'Canaan, Isaiah': 203477,
  'Carter-Williams, Michael': 203487,
  'Felicio, Cristiano': 1626245,
  'Grant, Jerian': 1626170,
  'Lauvergne, Joffrey': 203530,
  'Lopez, Robin': 201577,
  'Mirotic, Nikola': 202703,
  'Morrow, Anthony': 201627,
  'Payne, Cameron': 1626166,
  'Portis, Bobby': 1626171,
  'Rondo, Rajon': 200765,
  'Valentine, Denzel': 1627756,
  'Wade, Dwyane': 2548,
  'Zipser, Paul': 1627835},
 1610612742: {'Barea, J.J.': 200826,
  'Barnes, Harrison': 203084,
  'Brussino, Nicolas': 1627852,
  'Curry, Seth': 203552,
  'Ferrell, Yogi': 1627812,
  'Finney-Smith, Dorian': 1627827,
  'Hammons, AJ': 1627773,
  'Harris, Devin': 2734,
  'Harris, Manny': 202412,
  'Liggins, DeAndre': 202732,
  'Matthews, Wesley': 202083,
  'Mejri, Salah': 1626257,
  'Noel, Nerlens': 203457,
  'Nowitzki, Dirk': 1717,
  'Powell, Dwight': 203939,
  'Uthoff, Jarrod': 1627784},
 1610612743: {'Arthur, Darrell': 201589,
  'Barton, Will': 203115,
  'Beasley, Malik': 1627736,
  'Chandler, Wilson': 201163,
  'Faried, Kenneth': 202702,
  'Gallinari, Danilo': 201568,
  'Harris, Gary': 203914,
  'Hernangomez, Juancho': 1627823,
  'Hibbert, Roy': 201579,
  'Jokic, Nikola': 203999,
  'Miller, Mike': 2034,
  'Mudiay, Emmanuel': 1626144,
  'Murray, Jamal': 1627750,
  'Nelson, Jameer': 2749,
  'Plumlee, Mason': 203486},
 1610612744: {'Barnes, Matt': 2440,
  'Clark, Ian': 203546,
  'Curry, Stephen': 201939,
  'Durant, Kevin': 201142,
  'Green, Draymond': 203110,
  'Iguodala, Andre': 2738,
  'Jones, Damian': 1627745,
  'Livingston, Shaun': 2733,
  'Looney, Kevon': 1626172,
  'McAdoo, James Michael': 203949,
  'McCaw, Patrick': 1627775,
  'McGee, JaVale': 201580,
  'Pachulia, Zaza': 2585,
  'Thompson, Klay': 202691,
  'West, David': 2561},
 1610612745: {'Anderson, Ryan': 201583,
  'Ariza, Trevor': 2772,
  'Beverley, Patrick': 201976,
  'Brown, Bobby': 201628,
  'Capela, Clint': 203991,
  'Dekker, Sam': 1626155,
  'Gordon, Eric': 201569,
  'Harden, James': 201935,
  'Harrell, Montrezl': 1626149,
  'Nene': 2403,
  'Onuaku, Chinanu': 1627778,
  'Taylor, Isaiah': 1627819,
  'Williams, Lou': 101150,
  'Williams, Troy': 1627786,
  'Wiltjer, Kyle': 1627787},
 1610612746: {'Anderson, Alan': 101187,
  'Bass, Brandon': 101138,
  'Crawford, Jamal': 2037,
  'Felton, Raymond': 101109,
  'Griffin, Blake': 201933,
  'Johnson, Brice': 1627744,
  'Johnson, Wesley': 202325,
  'Jordan, DeAndre': 201599,
  'Mbah a Moute, Luc': 201601,
  'Paul, Chris': 101108,
  'Pierce, Paul': 1718,
  'Redick, JJ': 200755,
  'Rivers, Austin': 203085,
  'Speights, Marreese': 201578,
  'Stone, Diamond': 1627754},
 1610612747: {'Black, Tarik': 204028,
  'Brewer, Corey': 201147,
  'Clarkson, Jordan': 203903,
  'Deng, Luol': 2736,
  'Ennis, Tyler': 203898,
  'Ingram, Brandon': 1627742,
  'Mozgov, Timofey': 202389,
  'Nance Jr., Larry': 1626204,
  'Nwaba, David': 1628021,
  'Randle, Julius': 203944,
  'Robinson, Thomas': 203080,
  "Russell, D'Angelo": 1626156,
  'World Peace, Metta': 1897,
  'Young, Nick': 201156,
  'Zubac, Ivica': 1627826},
 1610612748: {'Babbitt, Luke': 202337,
  'Bosh, Chris': 2547,
  'Dragic, Goran': 201609,
  'Ellington, Wayne': 201961,
  'Haslem, Udonis': 2617,
  'Johnson, James': 201949,
  'Johnson, Tyler': 204020,
  'McGruder, Rodney': 203585,
  'McRoberts, Josh': 201177,
  'Reed, Willie': 203186,
  'Richardson, Josh': 1626196,
  'Waiters, Dion': 203079,
  'White, Okaro': 1627855,
  'Whiteside, Hassan': 202355,
  'Winslow, Justise': 1626159},
 1610612749: {'Antetokounmpo, Giannis': 203507,
  'Beasley, Michael': 201563,
  'Brogdon, Malcolm': 1627763,
  'Dellavedova, Matthew': 203521,
  'Hawes, Spencer': 201150,
  'Henson, John': 203089,
  'Maker, Thon': 1627748,
  'Middleton, Khris': 203114,
  'Monroe, Greg': 202328,
  'Parker, Jabari': 203953,
  'Payton II, Gary': 1627780,
  'Snell, Tony': 203503,
  'Teletovic, Mirza': 203141,
  'Terry, Jason': 1891,
  'Vaughn, Rashad': 1626173},
 1610612750: {'Aldrich, Cole': 202332,
  'Bjelica, Nemanja': 202357,
  'Casspi, Omri': 201956,
  'Dieng, Gorgui': 203476,
  'Dunn, Kris': 1627739,
  'Hill, Jordan': 201941,
  'Jones, Tyus': 1626145,
  'LaVine, Zach': 203897,
  'Muhammad, Shabazz': 203498,
  'Payne, Adreian': 203940,
  'Pekovic, Nikola': 201593,
  'Rubio, Ricky': 201937,
  'Rush, Brandon': 201575,
  'Towns, Karl-Anthony': 1626157,
  'Wiggins, Andrew': 203952},
 1610612751: {'Acy, Quincy': 203112,
  'Booker, Trevor': 202344,
  'Dinwiddie, Spencer': 203915,
  'Foye, Randy': 200751,
  'Goodwin, Archie': 203462,
  'Hamilton, Justin': 203120,
  'Harris, Joe': 203925,
  'Hollis-Jefferson, Rondae': 1626178,
  'Kilpatrick, Sean': 203930,
  'LeVert, Caris': 1627747,
  'Lin, Jeremy': 202391,
  'Lopez, Brook': 201572,
  'McDaniels, KJ': 203909,
  'Nicholson, Andrew': 203094,
  'Whitehead, Isaiah': 1627785},
 1610612752: {'Anthony, Carmelo': 2546,
  'Baker, Ron': 1627758,
  'Hernangomez, Willy': 1626195,
  'Holiday, Justin': 203200,
  'Kuzminskas, Mindaugas': 1627851,
  'Lee, Courtney': 201584,
  'Ndour, Maurice': 1626254,
  'Noah, Joakim': 201149,
  "O'Quinn, Kyle": 203124,
  'Plumlee, Marshall': 1627850,
  'Porzingis, Kristaps': 204001,
  'Randle, Chasson': 1626184,
  'Rose, Derrick': 201565,
  'Thomas, Lance': 202498,
  'Vujacic, Sasha': 2756},
 1610612753: {'Augustin, D.J.': 201571,
  'Biyombo, Bismack': 202687,
  'Fournier, Evan': 203095,
  'Garino, Patricio': 1627868,
  'Georges-Hunt, Marcus': 1627875,
  'Gordon, Aaron': 203932,
  'Green, Jeff': 201145,
  'Hezonja, Mario': 1626209,
  'Meeks, Jodie': 201975,
  'Payton, Elfrid': 203901,
  'Ross, Terrence': 203082,
  'Rudez, Damjan': 204014,
  'Vucevic, Nikola': 202696,
  'Watson, C.J.': 201228,
  'Zimmerman, Stephen': 1627757},
 1610612754: {'Allen, Lavoy': 202730,
  'Brooks, Aaron': 201166,
  'Christmas, Rakeem': 1626176,
  'Ellis, Monta': 101145,
  'George, Paul': 202331,
  'Jefferson, Al': 2744,
  'Miles, CJ': 101139,
  'Niang, Georges': 1627777,
  'Robinson III, Glenn': 203922,
  'Seraphin, Kevin': 202338,
  'Stephenson, Lance': 202362,
  'Teague, Jeff': 201952,
  'Turner, Myles': 1626167,
  'Young, Joe': 1626202,
  'Young, Thaddeus': 201152},
 1610612755: {'Anderson, Justin': 1626147,
  'Bayless, Jerryd': 201573,
  'Covington, Robert': 203496,
  'Embiid, Joel': 203954,
  'Henderson, Gerald': 201945,
  'Holmes, Richaun': 1626158,
  'Long, Shawn': 1627848,
  'Luwawu-Cabarrot, Timothe': 1627789,
  'McConnell, T.J.': 204456,
  'Okafor, Jahlil': 1626143,
  'Poythress, Alex': 1627816,
  'Rodriguez, Sergio': 200771,
  'Saric, Dario': 203967,
  'Simmons, Ben': 1627732,
  'Splitter, Tiago': 201168,
  'Stauskas, Nik': 203917},
 1610612756: {'Barbosa, Leandro': 2571,
  'Bender, Dragan': 1627733,
  'Bledsoe, Eric': 202339,
  'Booker, Devin': 1626164,
  'Chandler, Tyson': 2199,
  'Chriss, Marquese': 1627737,
  'Dudley, Jared': 201162,
  'Jones Jr., Derrick': 1627884,
  'Knight, Brandon': 202688,
  'Len, Alex': 203458,
  'Millsap, Elijah': 202407,
  'Price, Ronnie': 101179,
  'Ulis, Tyler': 1627755,
  'Warren, TJ': 203933,
  'Williams, Alan': 1626210},
 1610612757: {'Aminu, Al-Farouq': 202329,
  'Connaughton, Pat': 1626192,
  'Crabbe, Allen': 203459,
  'Davis, Ed': 202334,
  'Ezeli, Festus': 203105,
  'Harkless, Maurice': 203090,
  'Layman, Jake': 1627774,
  'Leonard, Meyers': 203086,
  'Lillard, Damian': 203081,
  'McCollum, CJ': 203468,
  'Napier, Shabazz': 203894,
  'Nurkic, Jusuf': 203994,
  'Quarterman, Tim': 1627817,
  'Turner, Evan': 202323,
  'Vonleh, Noah': 203943},
 1610612758: {'Afflalo, Arron': 201167,
  'Cauley-Stein, Willie': 1626161,
  'Collison, Darren': 201954,
  'Evans, Tyreke': 201936,
  'Galloway, Langston': 204038,
  'Gay, Rudy': 200752,
  'Hield, Buddy': 1627741,
  'Koufos, Kosta': 201585,
  'Labissiere, Skal': 1627746,
  'Lawson, Ty': 201951,
  'McLemore, Ben': 203463,
  'Papagiannis, Georgios': 1627834,
  'Richardson, Malachi': 1627781,
  'Temple, Garrett': 202066},
 1610612759: {'Aldridge, LaMarcus': 200746,
  'Anderson, Kyle': 203937,
  'Anthony, Joel': 201202,
  'Bertans, Davis': 202722,
  'Dedmon, Dewayne': 203473,
  'Forbes, Bryn': 1627854,
  'Gasol, Pau': 2200,
  'Ginobili, Manu': 1938,
  'Green, Danny': 201980,
  'Lee, David': 101135,
  'Leonard, Kawhi': 202695,
  'Mills, Patty': 201988,
  'Murray, Dejounte': 1627749,
  'Parker, Tony': 2225,
  'Simmons, Jonathon': 203613},
 1610612760: {'Abrines, Alex': 203518,
  'Adams, Steven': 203500,
  'Christon, Semaj': 203902,
  'Cole, Norris': 202708,
  'Collison, Nick': 2555,
  'Gibson, Taj': 201959,
  'Grant, Jerami': 203924,
  'Huestis, Josh': 203962,
  'Kanter, Enes': 202683,
  'McDermott, Doug': 203926,
  'Oladipo, Victor': 203506,
  'Roberson, Andre': 203460,
  'Sabonis, Domantas': 1627734,
  'Singler, Kyle': 202713,
  'Westbrook, Russell': 201566},
 1610612761: {'Caboclo, Bruno': 203998,
  'Carroll, DeMarre': 201960,
  'DeRozan, DeMar': 201942,
  'Ibaka, Serge': 201586,
  'Joseph, Cory': 202709,
  'Lowry, Kyle': 200768,
  'Nogueira, Lucas': 203512,
  'Patterson, Patrick': 202335,
  'Poeltl, Jakob': 1627751,
  'Powell, Norman': 1626181,
  'Siakam, Pascal': 1627783,
  'Tucker, PJ': 200782,
  'Valanciunas, Jonas': 202685,
  'VanVleet, Fred': 1627832,
  'Wright, Delon': 1626153},
 1610612762: {'Bolomboy, Joel': 1627762,
  'Burks, Alec': 202692,
  'Diaw, Boris': 2564,
  'Exum, Dante': 203957,
  'Favors, Derrick': 202324,
  'Gobert, Rudy': 203497,
  'Hayward, Gordon': 202330,
  'Hill, George': 201588,
  'Hood, Rodney': 203918,
  'Ingles, Joe': 204060,
  'Johnson, Joe': 2207,
  'Lyles, Trey': 1626168,
  'Mack, Shelvin': 202714,
  'Neto, Raul': 203526,
  'Withey, Jeff': 203481},
 1610612763: {'Allen, Tony': 2754,
  'Baldwin IV, Wade': 1627735,
  'Carter, Vince': 1713,
  'Conley, Mike': 201144,
  'Daniels, Troy': 203584,
  'Davis, Deyonta': 1627738,
  'Ennis III, James': 203516,
  'Gasol, Marc': 201188,
  'Green, JaMychal': 203210,
  'Harrison, Andrew': 1626150,
  'Martin, Jarell': 1626185,
  'Parsons, Chandler': 202718,
  'Randolph, Zach': 2216,
  'Selden, Wayne': 1627782,
  'Wright, Brandan': 201148},
 1610612764: {'Beal, Bradley': 203078,
  'Bogdanovic, Bojan': 202711,
  'Burke, Trey': 203504,
  'Gortat, Marcin': 101162,
  'Jennings, Brandon': 201943,
  'Mac, Sheldon': 1627815,
  'Mahinmi, Ian': 101133,
  'McCullough, Chris': 1626191,
  'Morris, Markieff': 202693,
  'Ochefu, Daniel': 1627849,
  'Oubre Jr., Kelly': 1626162,
  'Porter Jr., Otto': 203490,
  'Satoransky, Tomas': 203107,
  'Smith, Jason': 201160,
  'Wall, John': 202322},
 1610612765: {'Baynes, Aron': 203382,
  'Bullock, Reggie': 203493,
  'Caldwell-Pope, Kentavious': 203484,
  'Drummond, Andre': 203083,
  'Ellenson, Henry': 1627740,
  'Gbinije, Michael': 1627771,
  'Harris, Tobias': 202699,
  'Hilliard, Darrun': 1626199,
  'Jackson, Reggie': 202704,
  'Johnson, Stanley': 1626169,
  'Leuer, Jon': 202720,
  'Marjanovic, Boban': 1626246,
  'Morris, Marcus': 202694,
  'Smith, Ish': 202397,
  'Udrih, Beno': 2757},
 1610612766: {'Batum, Nicolas': 201587,
  'Belinelli, Marco': 201158,
  'Graham, Treveon': 1626203,
  'Kaminsky, Frank': 1626163,
  'Kidd-Gilchrist, Michael': 203077,
  'Lamb, Jeremy': 203087,
  "O'Bryant III, Johnny": 203948,
  'Plumlee, Miles': 203101,
  'Roberts, Brian': 203148,
  'Sessions, Ramon': 201196,
  'Walker, Kemba': 202689,
  'Weber, Briante': 1627362,
  'Williams, Marvin': 101107,
  'Wood, Christian': 1626174,
  'Zeller, Cody': 203469}}

In [38]:
plyr_dd_text = players.DISPLAY_LAST_COMMA_FIRST
plyr_dd_id = players.PERSON_ID
plyr_dd = dict(zip(plyr_dd_text, plyr_dd_id))
plyr_dd

{'Abrines, Alex': 203518,
 'Acy, Quincy': 203112,
 'Adams, Steven': 203500,
 'Afflalo, Arron': 201167,
 'Ajinca, Alexis': 201582,
 'Aldrich, Cole': 202332,
 'Aldridge, LaMarcus': 200746,
 'Allen, Lavoy': 202730,
 'Allen, Tony': 2754,
 'Aminu, Al-Farouq': 202329,
 'Anderson, Alan': 101187,
 'Anderson, Justin': 1626147,
 'Anderson, Kyle': 203937,
 'Anderson, Ryan': 201583,
 'Antetokounmpo, Giannis': 203507,
 'Anthony, Carmelo': 2546,
 'Anthony, Joel': 201202,
 'Ariza, Trevor': 2772,
 'Arthur, Darrell': 201589,
 'Asik, Omer': 201600,
 'Augustin, D.J.': 201571,
 'Babbitt, Luke': 202337,
 'Baker, Ron': 1627758,
 'Baldwin IV, Wade': 1627735,
 'Barbosa, Leandro': 2571,
 'Barea, J.J.': 200826,
 'Barnes, Harrison': 203084,
 'Barnes, Matt': 2440,
 'Barton, Will': 203115,
 'Bass, Brandon': 101138,
 'Batum, Nicolas': 201587,
 'Bayless, Jerryd': 201573,
 'Baynes, Aron': 203382,
 'Bazemore, Kent': 203145,
 'Beal, Bradley': 203078,
 'Beasley, Malik': 1627736,
 'Beasley, Michael': 201563,
 'Belinelli, Marco': 201158,
 "Bembry, DeAndre'": 1627761,
 'Bender, Dragan': 1627733,
 'Bertans, Davis': 202722,
 'Beverley, Patrick': 201976,
 'Biyombo, Bismack': 202687,
 'Bjelica, Nemanja': 202357,
 'Black, Tarik': 204028,
 'Bledsoe, Eric': 202339,
 'Bogdanovic, Bojan': 202711,
 'Bolomboy, Joel': 1627762,
 'Booker, Devin': 1626164,
 'Booker, Trevor': 202344,
 'Bosh, Chris': 2547,
 'Bradley, Avery': 202340,
 'Brewer, Corey': 201147,
 'Brogdon, Malcolm': 1627763,
 'Brooks, Aaron': 201166,
 'Brown, Bobby': 201628,
 'Brown, Jaylen': 1627759,
 'Brussino, Nicolas': 1627852,
 'Bullock, Reggie': 203493,
 'Burke, Trey': 203504,
 'Burks, Alec': 202692,
 'Butler, Jimmy': 202710,
 'Caboclo, Bruno': 203998,
 'Calderon, Jose': 101181,
 'Caldwell-Pope, Kentavious': 203484,
 'Canaan, Isaiah': 203477,
 'Capela, Clint': 203991,
 'Carroll, DeMarre': 201960,
 'Carter, Vince': 1713,
 'Carter-Williams, Michael': 203487,
 'Casspi, Omri': 201956,
 'Cauley-Stein, Willie': 1626161,
 'Chandler, Tyson': 2199,
 'Chandler, Wilson': 201163,
 'Chriss, Marquese': 1627737,
 'Christmas, Rakeem': 1626176,
 'Christon, Semaj': 203902,
 'Clark, Ian': 203546,
 'Clarkson, Jordan': 203903,
 'Cole, Norris': 202708,
 'Collison, Darren': 201954,
 'Collison, Nick': 2555,
 'Conley, Mike': 201144,
 'Connaughton, Pat': 1626192,
 'Cook, Quinn': 1626188,
 'Cousins, DeMarcus': 202326,
 'Covington, Robert': 203496,
 'Crabbe, Allen': 203459,
 'Crawford, Jamal': 2037,
 'Crawford, Jordan': 202348,
 'Crowder, Jae': 203109,
 'Cunningham, Dante': 201967,
 'Curry, Seth': 203552,
 'Curry, Stephen': 201939,
 'Daniels, Troy': 203584,
 'Davis, Anthony': 203076,
 'Davis, Deyonta': 1627738,
 'Davis, Ed': 202334,
 'DeRozan, DeMar': 201942,
 'Dedmon, Dewayne': 203473,
 'Dekker, Sam': 1626155,
 'Delaney, Malcolm': 1627098,
 'Dellavedova, Matthew': 203521,
 'Deng, Luol': 2736,
 'Diallo, Cheick': 1627767,
 'Diaw, Boris': 2564,
 'Dieng, Gorgui': 203476,
 'Dinwiddie, Spencer': 203915,
 'Dragic, Goran': 201609,
 'Drummond, Andre': 203083,
 'Dudley, Jared': 201162,
 'Dunleavy, Mike': 2399,
 'Dunn, Kris': 1627739,
 'Durant, Kevin': 201142,
 'Ellenson, Henry': 1627740,
 'Ellington, Wayne': 201961,
 'Ellis, Monta': 101145,
 'Embiid, Joel': 203954,
 'Ennis, Tyler': 203898,
 'Ennis III, James': 203516,
 'Evans, Tyreke': 201936,
 'Exum, Dante': 203957,
 'Ezeli, Festus': 203105,
 'Faried, Kenneth': 202702,
 'Favors, Derrick': 202324,
 'Felder, Kay': 1627770,
 'Felicio, Cristiano': 1626245,
 'Felton, Raymond': 101109,
 'Ferrell, Yogi': 1627812,
 'Finney-Smith, Dorian': 1627827,
 'Forbes, Bryn': 1627854,
 'Fournier, Evan': 203095,
 'Foye, Randy': 200751,
 'Frazier, Tim': 204025,
 'Frye, Channing': 101112,
 'Gallinari, Danilo': 201568,
 'Galloway, Langston': 204038,
 'Garino, Patricio': 1627868,
 'Gasol, Marc': 201188,
 'Gasol, Pau': 2200,
 'Gay, Rudy': 200752,
 'Gbinije, Michael': 1627771,
 'George, Paul': 202331,
 'Georges-Hunt, Marcus': 1627875,
 'Gibson, Taj': 201959,
 'Ginobili, Manu': 1938,
 'Gobert, Rudy': 203497,
 'Goodwin, Archie': 203462,
 'Gordon, Aaron': 203932,
 'Gordon, Eric': 201569,
 'Gortat, Marcin': 101162,
 'Graham, Treveon': 1626203,
 'Grant, Jerami': 203924,
 'Grant, Jerian': 1626170,
 'Green, Danny': 201980,
 'Green, Draymond': 203110,
 'Green, Gerald': 101123,
 'Green, JaMychal': 203210,
 'Green, Jeff': 201145,
 'Griffin, Blake': 201933,
 'Hamilton, Justin': 203120,
 'Hammons, AJ': 1627773,
 'Hardaway Jr., Tim': 203501,
 'Harden, James': 201935,
 'Harkless, Maurice': 203090,
 'Harrell, Montrezl': 1626149,
 'Harris, Devin': 2734,
 'Harris, Gary': 203914,
 'Harris, Joe': 203925,
 'Harris, Manny': 202412,
 'Harris, Tobias': 202699,
 'Harrison, Andrew': 1626150,
 'Haslem, Udonis': 2617,
 'Hawes, Spencer': 201150,
 'Hayward, Gordon': 202330,
 'Henderson, Gerald': 201945,
 'Henson, John': 203089,
 'Hernangomez, Juancho': 1627823,
 'Hernangomez, Willy': 1626195,
 'Hezonja, Mario': 1626209,
 'Hibbert, Roy': 201579,
 'Hield, Buddy': 1627741,
 'Nene': 2403,
 'Hill, George': 201588,
 'Hill, Jordan': 201941,
 'Hill, Solomon': 203524,
 'Hilliard, Darrun': 1626199,
 'Holiday, Jrue': 201950,
 'Holiday, Justin': 203200,
 'Hollis-Jefferson, Rondae': 1626178,
 'Holmes, Richaun': 1626158,
 'Hood, Rodney': 203918,
 'Horford, Al': 201143,
 'Howard, Dwight': 2730,
 'Huestis, Josh': 203962,
 'Humphries, Kris': 2743,
 'Ibaka, Serge': 201586,
 'Iguodala, Andre': 2738,
 'Ilyasova, Ersan': 101141,
 'Ingles, Joe': 204060,
 'Ingram, Brandon': 1627742,
 'Irving, Kyrie': 202681,
 'Jackson, Demetrius': 1627743,
 'Jackson, Reggie': 202704,
 'James, LeBron': 2544,
 'Jefferson, Al': 2744,
 'Jefferson, Richard': 2210,
 'Jennings, Brandon': 201943,
 'Jerebko, Jonas': 201973,
 'Johnson, Amir': 101161,
 'Johnson, Brice': 1627744,
 'Johnson, James': 201949,
 'Johnson, Joe': 2207,
 'Johnson, Stanley': 1626169,
 'Johnson, Tyler': 204020,
 'Johnson, Wesley': 202325,
 'Jokic, Nikola': 203999,
 'Jones, Dahntay': 2563,
 'Jones, Damian': 1627745,
 'Jones, James': 2592,
 'Jones, Tyus': 1626145,
 'Jones Jr., Derrick': 1627884,
 'Jordan, DeAndre': 201599,
 'Joseph, Cory': 202709,
 'Kaminsky, Frank': 1626163,
 'Kanter, Enes': 202683,
 'Kelly, Ryan': 203527,
 'Kidd-Gilchrist, Michael': 203077,
 'Kilpatrick, Sean': 203930,
 'Knight, Brandon': 202688,
 'Korver, Kyle': 2594,
 'Koufos, Kosta': 201585,
 'Kuzminskas, Mindaugas': 1627851,
 'LaVine, Zach': 203897,
 'Labissiere, Skal': 1627746,
 'Lamb, Jeremy': 203087,
 'Lauvergne, Joffrey': 203530,
 'Lawson, Ty': 201951,
 'Layman, Jake': 1627774,
 'LeVert, Caris': 1627747,
 'Lee, Courtney': 201584,
 'Lee, David': 101135,
 'Len, Alex': 203458,
 'Leonard, Kawhi': 202695,
 'Leonard, Meyers': 203086,
 'Leuer, Jon': 202720,
 'Liggins, DeAndre': 202732,
 'Lillard, Damian': 203081,
 'Lin, Jeremy': 202391,
 'Livingston, Shaun': 2733,
 'Long, Shawn': 1627848,
 'Looney, Kevon': 1626172,
 'Lopez, Brook': 201572,
 'Lopez, Robin': 201577,
 'Love, Kevin': 201567,
 'Lowry, Kyle': 200768,
 'Luwawu-Cabarrot, Timothe': 1627789,
 'Lyles, Trey': 1626168,
 'Mac, Sheldon': 1627815,
 'Mack, Shelvin': 202714,
 'Mahinmi, Ian': 101133,
 'Maker, Thon': 1627748,
 'Marjanovic, Boban': 1626246,
 'Martin, Jarell': 1626185,
 'Matthews, Wesley': 202083,
 'Mbah a Moute, Luc': 201601,
 'McAdoo, James Michael': 203949,
 'McCaw, Patrick': 1627775,
 'McCollum, CJ': 203468,
 'McConnell, T.J.': 204456,
 'McCullough, Chris': 1626191,
 'McDaniels, KJ': 203909,
 'McDermott, Doug': 203926,
 'McGee, JaVale': 201580,
 'McGruder, Rodney': 203585,
 'McLemore, Ben': 203463,
 'McRoberts, Josh': 201177,
 'Meeks, Jodie': 201975,
 'Mejri, Salah': 1626257,
 'Mickey, Jordan': 1626175,
 'Middleton, Khris': 203114,
 'Miles, CJ': 101139,
 'Miller, Mike': 2034,
 'Mills, Patty': 201988,
 'Millsap, Elijah': 202407,
 'Millsap, Paul': 200794,
 'Mirotic, Nikola': 202703,
 'Monroe, Greg': 202328,
 "Moore, E'Twaun": 202734,
 'Morris, Marcus': 202694,
 'Morris, Markieff': 202693,
 'Morrow, Anthony': 201627,
 'Motiejunas, Donatas': 202700,
 'Mozgov, Timofey': 202389,
 'Mudiay, Emmanuel': 1626144,
 'Muhammad, Shabazz': 203498,
 'Murray, Dejounte': 1627749,
 'Murray, Jamal': 1627750,
 'Muscala, Mike': 203488,
 'Nance Jr., Larry': 1626204,
 'Napier, Shabazz': 203894,
 'Ndour, Maurice': 1626254,
 'Nelson, Jameer': 2749,
 'Neto, Raul': 203526,
 'Niang, Georges': 1627777,
 'Nicholson, Andrew': 203094,
 'Noah, Joakim': 201149,
 'Noel, Nerlens': 203457,
 'Nogueira, Lucas': 203512,
 'Nowitzki, Dirk': 1717,
 'Nurkic, Jusuf': 203994,
 'Nwaba, David': 1628021,
 "O'Bryant III, Johnny": 203948,
 "O'Quinn, Kyle": 203124,
 'Ochefu, Daniel': 1627849,
 'Okafor, Jahlil': 1626143,
 'Oladipo, Victor': 203506,
 'Olynyk, Kelly': 203482,
 'Onuaku, Chinanu': 1627778,
 'Oubre Jr., Kelly': 1626162,
 'Pachulia, Zaza': 2585,
 'Papagiannis, Georgios': 1627834,
 'Parker, Jabari': 203953,
 'Parker, Tony': 2225,
 'Parsons, Chandler': 202718,
 'Patterson, Patrick': 202335,
 'Paul, Chris': 101108,
 'Payne, Adreian': 203940,
 'Payne, Cameron': 1626166,
 'Payton, Elfrid': 203901,
 'Payton II, Gary': 1627780,
 'Pekovic, Nikola': 201593,
 'Pierce, Paul': 1718,
 'Plumlee, Marshall': 1627850,
 'Plumlee, Mason': 203486,
 'Plumlee, Miles': 203101,
 'Poeltl, Jakob': 1627751,
 'Pondexter, Quincy': 202347,
 'Porter Jr., Otto': 203490,
 'Portis, Bobby': 1626171,
 'Porzingis, Kristaps': 204001,
 'Powell, Dwight': 203939,
 'Powell, Norman': 1626181,
 'Poythress, Alex': 1627816,
 'Price, Ronnie': 101179,
 'Prince, Taurean': 1627752,
 'Quarterman, Tim': 1627817,
 'Randle, Chasson': 1626184,
 'Randle, Julius': 203944,
 'Randolph, Zach': 2216,
 'Redick, JJ': 200755,
 'Reed, Willie': 203186,
 'Richardson, Josh': 1626196,
 'Richardson, Malachi': 1627781,
 'Rivers, Austin': 203085,
 'Roberson, Andre': 203460,
 'Roberts, Brian': 203148,
 'Robinson, Thomas': 203080,
 'Robinson III, Glenn': 203922,
 'Rodriguez, Sergio': 200771,
 'Rondo, Rajon': 200765,
 'Rose, Derrick': 201565,
 'Ross, Terrence': 203082,
 'Rozier, Terry': 1626179,
 'Rubio, Ricky': 201937,
 'Rudez, Damjan': 204014,
 'Rush, Brandon': 201575,
 "Russell, D'Angelo": 1626156,
 'Sabonis, Domantas': 1627734,
 'Saric, Dario': 203967,
 'Satoransky, Tomas': 203107,
 'Schroder, Dennis': 203471,
 'Sefolosha, Thabo': 200757,
 'Selden, Wayne': 1627782,
 'Seraphin, Kevin': 202338,
 'Sessions, Ramon': 201196,
 'Shumpert, Iman': 202697,
 'Siakam, Pascal': 1627783,
 'Simmons, Ben': 1627732,
 'Simmons, Jonathon': 203613,
 'Singler, Kyle': 202713,
 'Smart, Marcus': 203935,
 'Smith, Ish': 202397,
 'Smith, JR': 2747,
 'Smith, Jason': 201160,
 'Snell, Tony': 203503,
 'Speights, Marreese': 201578,
 'Splitter, Tiago': 201168,
 'Stauskas, Nik': 203917,
 'Stephenson, Lance': 202362,
 'Stone, Diamond': 1627754,
 'Tavares, Edy': 204002,
 'Taylor, Isaiah': 1627819,
 'Teague, Jeff': 201952,
 'Teletovic, Mirza': 203141,
 'Temple, Garrett': 202066,
 'Terry, Jason': 1891,
 'Thomas, Isaiah': 202738,
 'Thomas, Lance': 202498,
 'Thompson, Klay': 202691,
 'Thompson, Tristan': 202684,
 'Toupane, Axel': 1626253,
 'Towns, Karl-Anthony': 1626157,
 'Tucker, PJ': 200782,
 'Turner, Evan': 202323,
 'Turner, Myles': 1626167,
 'Udrih, Beno': 2757,
 'Ulis, Tyler': 1627755,
 'Uthoff, Jarrod': 1627784,
 'Valanciunas, Jonas': 202685,
 'Valentine, Denzel': 1627756,
 'VanVleet, Fred': 1627832,
 'Vaughn, Rashad': 1626173,
 'Vonleh, Noah': 203943,
 'Vucevic, Nikola': 202696,
 'Vujacic, Sasha': 2756,
 'Wade, Dwyane': 2548,
 'Waiters, Dion': 203079,
 'Walker, Kemba': 202689,
 'Wall, John': 202322,
 'Warren, TJ': 203933,
 'Watson, C.J.': 201228,
 'Weber, Briante': 1627362,
 'West, David': 2561,
 'Westbrook, Russell': 201566,
 'White, Okaro': 1627855,
 'Whitehead, Isaiah': 1627785,
 'Whiteside, Hassan': 202355,
 'Wiggins, Andrew': 203952,
 'Williams, Alan': 1626210,
 'Williams, Deron': 101114,
 'Williams, Derrick': 202682,
 'Williams, Lou': 101150,
 'Williams, Marvin': 101107,
 'Williams, Troy': 1627786,
 'Wiltjer, Kyle': 1627787,
 'Winslow, Justise': 1626159,
 'Withey, Jeff': 203481,
 'Wood, Christian': 1626174,
 'World Peace, Metta': 1897,
 'Wright, Brandan': 201148,
 'Wright, Delon': 1626153,
 'Young, James': 203923,
 'Young, Joe': 1626202,
 'Young, Nick': 201156,
 'Young, Thaddeus': 201152,
 'Zeller, Cody': 203469,
 'Zeller, Tyler': 203092,
 'Zimmerman, Stephen': 1627757,
 'Zipser, Paul': 1627835,
 'Zubac, Ivica': 1627826}

In [39]:
# selected = 'ATL, Hawks'
selected = 'LAC, Clippers'

team_menu = Dropdown(options=team_dd, label=selected)
plyr_menu = Dropdown(options=plyr_by_team_dd[team_dd[selected]])

display(team_menu, plyr_menu)

Dropdown(index=12, options={'ATL, Hawks': 1610612737, 'BKN, Nets': 1610612751, 'BOS, Celtics': 1610612738, 'CHA, Hornets': 1610612766, 'CHI, Bulls': 1610612741, 'CLE, Cavaliers': 1610612739, 'DAL, Mavericks': 1610612742, 'DEN, Nuggets': 1610612743, 'DET, Pistons': 1610612765, 'GSW, Warriors': 1610612744, 'HOU, Rockets': 1610612745, 'IND, Pacers': 1610612754, 'LAC, Clippers': 1610612746, 'LAL, Lakers': 1610612747, 'MEM, Grizzlies': 1610612763, 'MIA, Heat': 1610612748, 'MIL, Bucks': 1610612749, 'MIN, Timberwolves': 1610612750, 'NOP, Pelicans': 1610612740, 'NYK, Knicks': 1610612752, 'OKC, Thunder': 1610612760, 'ORL, Magic': 1610612753, 'PHI, Sixers': 1610612755, 'PHX, Suns': 1610612756, 'POR, Blazers': 1610612757, 'SAC, Kings': 1610612758, 'SAS, Spurs': 1610612759, 'TOR, Raptors': 1610612761, 'UTA, Jazz': 1610612762, 'WAS, Wizards': 1610612764}, value=1610612746)

Dropdown(options={'Anderson, Alan': 101187, 'Bass, Brandon': 101138, 'Crawford, Jamal': 2037, 'Felton, Raymond': 101109, 'Griffin, Blake': 201933, 'Johnson, Brice': 1627744, 'Johnson, Wesley': 202325, 'Jordan, DeAndre': 201599, 'Mbah a Moute, Luc': 201601, 'Paul, Chris': 101108, 'Pierce, Paul': 1718, 'Redick, JJ': 200755, 'Rivers, Austin': 203085, 'Speights, Marreese': 201578, 'Stone, Diamond': 1627754}, value=101187)

Adding an "observer" watches for change events to the drop down menus

In [40]:
def test_team(change):
    
    print(change['new'])
    print("***********")
    print(change)
    
team_menu.observe(test_team, names='label')
# team_menu.observe(test_team, names=['label', 'value']) ## what does this do?

__Exercise__: What does the `label` refer to? What does adding `value` do?

In [41]:
# selected = 'ATL, Hawks'
selected = 'LAC, Clippers'

team_menu = Dropdown(options=team_dd, label=selected)
plyr_menu = Dropdown(options=plyr_by_team_dd[team_dd[selected]])

display(team_menu, plyr_menu)

def update_team(change):
    plyr_menu.options = plyr_by_team_dd[change['new']]

team_menu.observe(update_team, names='value')

Dropdown(index=12, options={'ATL, Hawks': 1610612737, 'BKN, Nets': 1610612751, 'BOS, Celtics': 1610612738, 'CHA, Hornets': 1610612766, 'CHI, Bulls': 1610612741, 'CLE, Cavaliers': 1610612739, 'DAL, Mavericks': 1610612742, 'DEN, Nuggets': 1610612743, 'DET, Pistons': 1610612765, 'GSW, Warriors': 1610612744, 'HOU, Rockets': 1610612745, 'IND, Pacers': 1610612754, 'LAC, Clippers': 1610612746, 'LAL, Lakers': 1610612747, 'MEM, Grizzlies': 1610612763, 'MIA, Heat': 1610612748, 'MIL, Bucks': 1610612749, 'MIN, Timberwolves': 1610612750, 'NOP, Pelicans': 1610612740, 'NYK, Knicks': 1610612752, 'OKC, Thunder': 1610612760, 'ORL, Magic': 1610612753, 'PHI, Sixers': 1610612755, 'PHX, Suns': 1610612756, 'POR, Blazers': 1610612757, 'SAC, Kings': 1610612758, 'SAS, Spurs': 1610612759, 'TOR, Raptors': 1610612761, 'UTA, Jazz': 1610612762, 'WAS, Wizards': 1610612764}, value=1610612746)

Dropdown(options={'Anderson, Alan': 101187, 'Bass, Brandon': 101138, 'Crawford, Jamal': 2037, 'Felton, Raymond': 101109, 'Griffin, Blake': 201933, 'Johnson, Brice': 1627744, 'Johnson, Wesley': 202325, 'Jordan, DeAndre': 201599, 'Mbah a Moute, Luc': 201601, 'Paul, Chris': 101108, 'Pierce, Paul': 1718, 'Redick, JJ': 200755, 'Rivers, Austin': 203085, 'Speights, Marreese': 201578, 'Stone, Diamond': 1627754}, value=101187)

In [42]:
from ipywidgets import link, dlink

# selected = 'ATL, Hawks'
selected = 'LAC, Clippers'

team_menu = Dropdown(options=team_dd, label=selected)
plyr_menu = Dropdown(options=plyr_by_team_dd[team_dd[selected]])
fetch_button = Button(description='Get Data!', icon='check')

display(team_menu, plyr_menu, fetch_button)

## update players list
def update_team(change):
    plyr_menu.options = plyr_by_team_dd[change['new']]

team_menu.observe(update_team, names='value')

## get data action
def get_data(change):
    print(team_menu.value, plyr_menu.value)
    
fetch_button.on_click(get_data)

Dropdown(index=12, options={'ATL, Hawks': 1610612737, 'BKN, Nets': 1610612751, 'BOS, Celtics': 1610612738, 'CHA, Hornets': 1610612766, 'CHI, Bulls': 1610612741, 'CLE, Cavaliers': 1610612739, 'DAL, Mavericks': 1610612742, 'DEN, Nuggets': 1610612743, 'DET, Pistons': 1610612765, 'GSW, Warriors': 1610612744, 'HOU, Rockets': 1610612745, 'IND, Pacers': 1610612754, 'LAC, Clippers': 1610612746, 'LAL, Lakers': 1610612747, 'MEM, Grizzlies': 1610612763, 'MIA, Heat': 1610612748, 'MIL, Bucks': 1610612749, 'MIN, Timberwolves': 1610612750, 'NOP, Pelicans': 1610612740, 'NYK, Knicks': 1610612752, 'OKC, Thunder': 1610612760, 'ORL, Magic': 1610612753, 'PHI, Sixers': 1610612755, 'PHX, Suns': 1610612756, 'POR, Blazers': 1610612757, 'SAC, Kings': 1610612758, 'SAS, Spurs': 1610612759, 'TOR, Raptors': 1610612761, 'UTA, Jazz': 1610612762, 'WAS, Wizards': 1610612764}, value=1610612746)

Dropdown(options={'Anderson, Alan': 101187, 'Bass, Brandon': 101138, 'Crawford, Jamal': 2037, 'Felton, Raymond': 101109, 'Griffin, Blake': 201933, 'Johnson, Brice': 1627744, 'Johnson, Wesley': 202325, 'Jordan, DeAndre': 201599, 'Mbah a Moute, Luc': 201601, 'Paul, Chris': 101108, 'Pierce, Paul': 1718, 'Redick, JJ': 200755, 'Rivers, Austin': 203085, 'Speights, Marreese': 201578, 'Stone, Diamond': 1627754}, value=101187)

Button(description='Get Data!', icon='check', style=ButtonStyle())

__Exercise__: How would you modify `get_data()` function to construct `param` and fetch data using `get_nba_data()`?