In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0]) # Series is an object in panda
data # has both indices and values

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values # access to values

array([ 0.25,  0.5 ,  0.75,  1.  ])

In [6]:
data.index # access to index

RangeIndex(start=0, stop=4, step=1)

In [7]:
# we can manually change the label of the indices
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
# first argument  
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['d']

1.0

In [9]:
# a dictionary in python 
# it contains a typed key and corresponding values with that typed key
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
# we can pass this dictionary as a panda Series
population = pd.Series(population_dict) # now, the key is acted as the index
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [10]:
population['Texas']

26448193

In [11]:
population['California':'New York']

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
dtype: int64

In [13]:
# we can also directly pass dictionary to panda series:
pd.Series({1:'a',2:'b',3:'c'})

1    a
2    b
3    c
dtype: object

In [15]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])
# Series only generate the result with specified indices

3    c
2    a
dtype: object

In [16]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995} # area_dict is a dictionary
area = pd.Series(area_dict) # area_dict is now a column (in R and a Series in panda)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [17]:
states = pd.DataFrame({'population': population,
                       'area': area}) # using pd.DataFrame to concatenate population and area
# both population and area both panda Series (combine two columns in R)
# names 2 columns
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [18]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [20]:
states.columns # columns names

Index(['area', 'population'], dtype='object')

In [22]:
# extra info of area column
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [24]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)] 
# i is for indices: 0,1,2; 2 columns a and b, value of a is index and value is b is index*2
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [25]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [26]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])
# 1. np.random.rand() function generates random values from [0,1); (3,2) --> matrix with nrows=3 and ncols=2
# 2. 2 columns foo and bar
# 3. rename the indices to a, b, and c

        foo       bar
a  0.947589  0.465818
b  0.476920  0.460454
c  0.932787  0.714469

## Hierarchical Indexing

In [27]:
# the bad way to do this:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [28]:
pop[[i for i in pop.index if i[1] == 2010]] # select rows whose second index is in 2010

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [29]:
index = pd.MultiIndex.from_tuples(index)
index
# we have many levels for indices

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [34]:
index.levels

FrozenList([['California', 'New York', 'Texas'], [2000, 2010]])

In [35]:
# re-index our series with this MultiIndex, we see the hierarchical representation of the data:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [36]:
# to access all data for which the second index is 2010, we can simply use the Pandas slicing notation:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [37]:
# we could easily have stored the same data using a simple DataFrame with index and column labels using unstack()
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [38]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64